*env*
images
.idea
*.csv

simulations/
geometry/
*__pycache__*
*.pyc
*.DS_Store

cleaned_data/
gold_data/
raw_data/
*.ipynb_checkpoints*
ec2.sh
gprMax/user_models
gprMax/conda_env.yml
gprMax/docs
gprMax/gsoc
gprMax/README.rst
gprMax/CREDITS
gprMax/user_libs
gprMax/tests
gprMax/tools


